﻿<!DOCTYPE html>
<html>
{% load staticfiles %}
<head>
<!-- Meta, title, CSS, favicons, etc. -->
<meta charset="utf-8" />
<title>{% block title %}{% endblock %}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<!-- Font CSS  -->
<link rel="stylesheet" type="text/css" href="{% static "css/css?family=Open+Sans:400,600,700" %}" />

<!-- Core CSS  -->
<link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.min.css" %}" />
<link rel="stylesheet" type="text/css" href="{% static "css/font-awesome.min.css" %}"/>
<link rel="stylesheet" type="text/css" href="{% static "fonts/glyphicons_pro/glyphicons.min.css" %}" />


<!-- Theme CSS -->
<link rel="stylesheet" type="text/css" href="{% static "css/theme.css" %}" />
<link rel="stylesheet" type="text/css" href="{% static "css/pages.css" %}" />
<link rel="stylesheet" type="text/css" href="{% static "css/plugins.css" %}" />
<link rel="stylesheet" type="text/css" href="{% static "css/responsive.css" %}" />

<!-- Demonstration CSS -->
<link rel="stylesheet" type="text/css" href="{% static "css/demo.css" %}" />

<!-- Your Custom CSS -->
<link rel="stylesheet" type="text/css" href="{% static "css/custom.css" %}" />

<!-- Favicon -->
<link rel="shortcut icon" href="{% static "img/favicon.ico" %}" />

<!-- Plugin CSS -->
<link rel="stylesheet" type="text/css" href="{% static "vendor/plugins/chosen/chosen.min.css" %}" />
<link rel="stylesheet" type="text/css" href="{% static "vendor/plugins/timepicker/bootstrap-timepicker.min.css" %}" />
<link rel="stylesheet" type="text/css" href="{% static "vendor/plugins/colorpicker/colorpicker.css" %}" />
<link rel="stylesheet" type="text/css" href="{% static "vendor/plugins/datepicker/datepicker.css" %}" />
<link rel="stylesheet" type="text/css" href="{% static "vendor/plugins/daterange/daterangepicker.css" %}" />
<link rel="stylesheet" type="text/css" href="{% static "vendor/plugins/formswitch/css/bootstrap-switch.css" %}" />
<link rel="stylesheet" type="text/css" href="{% static "vendor/plugins/tags/tagmanager.css" %}" />
<link rel="stylesheet" type="text/css" href="{% static "vendor/plugins/datatables/css/datatables.min.css" %}" />
<link rel="stylesheet" type="text/css" href="{% static "vendor/editors/xeditable/css/bootstrap-editable.css" %}" />
<link rel="stylesheet" type="text/css" href="{% static "vendor/plugins/chosen/chosen.min.css" %}" />


<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
<![endif]-->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /></head>
<body>

<!-- Start: Header -->
<header class="navbar navbar-fixed-top">
  <div class="pull-left"> <a class="navbar-brand" href="dashboard.html">
    <div class="navbar-logo"><img src="{% static "img/logos/logo-red2.png" %}" class="img-responsive" alt="logo" /></div>
    </a> </div>
  <div class="pull-right"> <a class="navbar-brand" href="dashboard.html">
    <div class="navbar-logo"><img src="{% static "img/logos/logo-red.png" %}" class="img-responsive" alt="logo" /></div>
    </a> </div>
</header>
<!-- End: Header --> 
<!-- Start: Main -->
<div id="main"> 
  <!-- Start: Sidebar -->
  <aside id="sidebar">
    <div id="sidebar-search">
      <div class="sidebar-toggle"> <i class="fa fa-bars"></i> </div>
    </div>
    <div id="sidebar-menu">
      <ul class="nav sidebar-nav">
        <li> <a href="/inicio/"><span class="glyphicons glyphicons-sort"></span><span class="sidebar-title">Inicio</span></a> </li>
        <li> <a class="accordion-toggle collapsed" href="#sideThree"><span class="glyphicons glyphicons-table"></span><span class="sidebar-title">Eventos</span><span class="caret"></span></a>
          <ul id="sideThree" class="nav sub-nav">
            <li><a href="/eventos/crear/"><span class="glyphicons glyphicons-pencil"></span>Crear</a></li>
            <li><a href="/eventos/"><span class="glyphicons glyphicons-list"></span>Ver eventos</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </aside>
  <!-- End: Sidebar --> 
  <!-- Start: Content -->
  <section id="content">
    <div id="topbar">
      <ol class="breadcrumb">
       {% block bread %}{% endblock %}
      </ol>
    </div>
    <div class="container"> 
    {% block contenido %}{% endblock %}
    </div>
  </section>
  <!-- End: Content --> 
</div>
<!-- End: Main --> 

<!-- Core Javascript - via CDN --> 
<script src="{% static "js/jquery.min.js" %}"></script> 
<script src="{% static "js/jquery-ui.min.js" %}"></script> 
<script src="{% static "js/bootstrap.min.js" %}"></script> 
<!-- Theme Javascript --> 
<script type="text/javascript" src="{% static "js/uniform.min.js" %}"></script> 
<script type="text/javascript" src="{% static "js/main.js" %}"></script>
<script type="text/javascript" src="{% static "js/custom.js" %}"></script> 
<!-- Plugins --> 
<script type="text/javascript" src="{% static "vendor/plugins/globalize/globalize.js" %}"></script> 
<script type="text/javascript" src="{% static "vendor/plugins/chosen/chosen.jquery.min.js" %}"></script> 
<script type="text/javascript" src="{% static "vendor/plugins/daterange/moment.min.js" %}"></script> 
<script type="text/javascript" src="{% static "vendor/plugins/daterange/daterangepicker.js" %}"></script> 
<script type="text/javascript" src="{% static "vendor/plugins/colorpicker/bootstrap-colorpicker.js" %}"></script> 
<script type="text/javascript" src="{% static "vendor/plugins/timepicker/bootstrap-timepicker.min.js" %}"></script> 
<script type="text/javascript" src="{% static "vendor/plugins/datepicker/bootstrap-datepicker.js" %}"></script> 
<script type="text/javascript" src="{% static "vendor/plugins/formswitch/js/bootstrap-switch.min.js" %}"></script> 
<script type="text/javascript" src="{% static "vendor/plugins/jquerymask/jquery.maskedinput.min.js" %}"></script> 
<script type="text/javascript" src="{% static "vendor/plugins/tags/tagmanager.js" %}"></script> 
<script type="text/javascript" src="{% static "vendor/editors/ckeditor/ckeditor.js" %}"></script>
<script type="text/javascript" src="{% static "vendor/plugins/datatables/jquery.dataTables.min.js" %}"></script>
<script type="text/javascript" src="{% static "vendor/plugins/datatables/js/datatables.js" %}"></script>
<script type="text/javascript" src="{% static "vendor/editors/xeditable/js/bootstrap-editable.js" %}"></script> 
<script type="text/javascript" src="{% static "vendor/plugins/chosen/chosen.jquery.min.js" %}"></script> 
<script type="text/javascript">
 jQuery(document).ready(function() {

	 // Init Theme Core
	 Core.init();

	 //Init jquery Date Picker
	 $('.datepicker').datepicker()
	 
	 //Init jquery Date Range Picker
	 $('input[name="daterange"]').daterangepicker();
	 
	 //Init jquery Color Picker
	 $('.colorpicker').colorpicker() 
	 $('.rgbapicker').colorpicker() 
	 
	 //Init jquery Time Picker
	 $('.timepicker').timepicker({
minuteStep: 15,
appendWidgetTo: 'body',
showSeconds: false,
showMeridian: false,
defaultTime: false
});
	  
	 //Init jquery Tags Manager 
	 $(".tm-input").tagsManager({
        tagsContainer: '.tag-container',
		prefilled: ["Miley Cyrus", "Apple", "Wow This is a really Long tag", "Na uh"],
		tagClass: 'tm-tag-info',
     });

	 //Init jquery spinner init - default  
	 $(".checkbox").uniform();
 	 $(".radio").uniform();

	//Init jquery spinner init - default
	$("#chosen-list1").chosen();
	$("#chosen-list2").chosen(); 
	  
	//Init jquery spinner init - default
	$("#spinner1").spinner();
	
	//Init jquery spinner init - currency 
	$("#spinner2").spinner({
      min: 5,
      max: 2500,
      step: 25,
      start: 1000,
      //numberFormat: "C"
    });
	
	//Init jquery spinner init - decimal  
	$( "#spinner3" ).spinner({
      step: 0.01,
      numberFormat: "n"
    });
	
	//Init jquery time spinner
    $.widget( "ui.timespinner", $.ui.spinner, {
		options: {
		  // seconds
		  step: 60 * 1000,
		  // hours
		  page: 60
		},
		_parse: function( value ) {
		  if ( typeof value === "string" ) {
			// already a timestamp
			if ( Number( value ) == value ) {
			  return Number( value );
			}
			return +Globalize.parseDate( value );
		  }
		  return value;
		},
	 
		_format: function( value ) {
		  return Globalize.format( new Date(value), "t" );
		}
	  });
    $( "#spinner4" ).timespinner();

	//Init jquery masked inputs
	$('.date').mask('99/99/9999');
	$('.time').mask('99:99:99');
	$('.date_time').mask('99/99/9999 99:99:99');
	$('.zip').mask('99999-999');
	$('.phone').mask('(999) 999-9999');
	$('.phoneext').mask("(999) 999-9999 x99999");
	$(".money").mask("999,999,999.999"); 
	$(".product").mask("999.999.999.999"); 
	$(".tin").mask("99-9999999");
	$(".ssn").mask("999-99-9999");
	$(".ip").mask("9ZZ.9ZZ.9ZZ.9ZZ");
	$(".eyescript").mask("~9.99 ~9.99 999");
	$(".custom").mask("9.99.999.9999");
	 // Theme Example - Ckeditor Colorpicker
	 $('.editor-ui-color').click(function () {
	 	var color = $(this).val();
		CKEDITOR.instances.editor1.setUiColor( '#' + color );
	 });
	  var bodyStyle = $('body')[0].style;
	  $('#cp1').colorpicker().on('changeColor', function(ev){				
		  $('#cp1').text(ev.color.toHex());
		  CKEDITOR.instances.editor1.setUiColor( ev.color.toHex());
	  });

     // Turn off automatic editor initilization.
	 // Used to prevent conflictions with multiple text 
	 // editors being displayed on the same page.
     CKEDITOR.disableAutoInline = true;
  $('#datatable').dataTable( {
	"aoColumnDefs": [{ 'bSortable': false, 'aTargets': [ -1 ] }],
	"oLanguage": { "oPaginate": {"sPrevious": "", "sNext": ""} },
	"iDisplayLength": 6,
	"aLengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
  });	
  
  $("select[name='datatable_length']").chosen();	
  $.fn.editable.defaults.mode = 'popup';

	
});
</script>
</body>
</html>
