{% extends "base.html" %}
{% block title %} Crear Evento {% endblock %}
{% block bread %}
        <li><a href="/inicio/"><i class="fa fa-home"></i></a></li>
        <li class="active">Crear evento</li>
{% endblock %}
{% block contenido %}

      <div class="row">
        <div class="col-md-8">
          <div class="row">
            <div class="col-md-12">
              <div class="panel">
                <div class="panel-heading">
                  <div class="panel-title"> <i class="fa fa-pencil"></i> Registra tu evento </div>
                </div>
                <div class="panel-body">
                  <form method="post" class="form-horizontal" role="form" />
                  {% csrf_token %}

                    <div class="form-group">
                      <label for="inputStandard" class="col-lg-2 control-label">{{ form.titulo.label }}</label>
                      <div class="col-lg-10">
                        <input type="text" name="{{ form.titulo.html_name }}"  id="{{ form.titulo.auto_id }}" class="form-control" />
                        {% if form.titulo.errors %}<strong><font color="red">{{ form.titulo.errors }}</font></strong>{% endif %}
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="inputStandard" class="col-lg-2 control-label">Autor</label>
                      <div class="col-lg-10">
                        <input type="text" name="{{ form.autor.html_name }}"  id="{{ form.autor.auto_id }}" class="form-control" placeholder="su nombre completo..." />
{% if form.autor.errors %}<strong><font color="red">{{ form.autor.errors }}</font></strong>{% endif %}
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="chosen-list1" class="col-lg-2 control-label">{{ form.categoria.label }}</label>
                      <div class="col-md-10">
                        <select class="form-control" name="{{ form.categoria.html_name }}"  id="{{ form.categoria.auto_id }}">
                        {% for x,y in form.fields.categoria.choices %}
                            <option value="{{ x }}">{{ y }}</option>
                        {% endfor %}
                        </select>
{% if form.categoria.errors %}<strong><font color="red">{{ form.categoria.errors }}</font></strong>{% endif %}
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="datepicker" class="col-lg-2 control-label">{{ form.Fecha.label }}</label>
                      <div class="col-md-10">
                        <div class="input-group"> <span class="input-group-addon"><i class="fa fa-calendar"></i> </span>
                          <input type="text" name="{{ form.Fecha.html_name }}"  id="{{ form.Fecha.auto_id }}" class="form-control datepicker margin-top-none" placeholder="23/9/2013" />
                        </div>
{% if form.Fecha.errors %}<strong><font color="red">{{ form.Fecha.errors }}</font></strong>{% endif %}
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="timepicker" class="col-lg-2 control-label">Hora de inicio</label>
                      <div class="col-md-10">
                        <div class="input-group"> <span class="input-group-addon"><i class="fa fa-calendar "></i></span>
                          <input type="text" name="{{ form.HoraInicio.html_name }}"  id="{{ form.HoraInicio.auto_id }}" class="form-control timepicker" placeholder="9:00 PM" />
                        </div>
{% if form.HoraInicio.errors %}<strong><font color="red">{{ form.HoraInicio.errors }}</font></strong>{% endif %}
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="timepicker" class="col-lg-2 control-label">Hora fin</label>
                      <div class="col-md-10">
                        <div class="input-group"> <span class="input-group-addon"><i class="fa fa-calendar "></i></span>
                          <input type="text" name="{{ form.HoraFin.html_name }}"  id="{{ form.HoraFin.auto_id }}" class="form-control timepicker" placeholder="9:00 PM" />
                        </div>
{% if form.HoraFin.errors %}<strong><font color="red">{{ form.HoraFin.errors }}</font></strong>{% endif %}
                      </div>
                    </div>

                    <div class="form-group">
                      <div class="col-md-12">
                        <div class="input-group">
              <textarea class="ckeditor editor1" name="{{ form.informacion.html_name }}"  id="{{ form.informacion.auto_id }}" rows="14">Introduzca la informacion de su evento aqui....</textarea>
{% if form.informacion.errors %}<strong><font color="red">{{ form.informacion.errors }}</font></strong>{% endif %}
                        </div>
                      </div>
                    </div>

                    <div class="form-group">
                      <label class="col-lg-2 control-label" for="textArea">Descripcion</label>
                      <div class="col-lg-10">
                        <textarea class="form-control" name="{{ form.descripcion.html_name }}"  id="{{ form.descripcion.auto_id }}" rows="3">Breve descripción del evento aquí...</textarea>
{% if form.descripcion.errors %}<strong><font color="red">{{ form.descripcion.errors }}</font></strong>{% endif %}
                      </div>
                    </div>

                    <div class="form-group">
                      <label class="col-lg-2 control-label" for="textArea">Dirección</label>
                      <div class="col-lg-10">
                        <textarea class="form-control" name="{{ form.direccion.html_name }}"  id="{{ form.direccion.auto_id }}" rows="3">Dirección del evento aquí...</textarea>
{% if form.direccion.errors %}<strong><font color="red">{{ form.direccion.errors }}</font></strong>{% endif %}
                      </div>
                    </div>

                    <div class="form-group">
                      <label class="col-lg-2 control-label" for="textArea">Patrocinadores</label>
                      <div class="col-lg-10">
                        <textarea class="form-control" name="{{ form.patrocinadores.html_name }}"  id="{{ form.patrocinadores.auto_id }}" rows="3">Patrocinadores del evento aquí...</textarea>
{% if form.patrocinadores.errors %}<strong><font color="red">{{ form.patrocinadores.errors }}</font></strong>{% endif %}
                      </div>
                    </div>

                      <div class="panel-footer">
                          <div class="form-group">
                            <div class="col-md-12">
                          <button type="submit" class="btn btn-primary btn-info btn-gradient btn-lg">Crear Evento!!!</button>
                            </div>
                          </div>
                      </div>





                  </form>
                </div>
              </div>
            </div>
        </div>
      </div>



{% endblock %}
