{% extends "base.html" %}
{% block title %} Crear Evento {% endblock %}
{% block bread %}
        <li><a href="/inicio/"><i class="fa fa-home"></i></a></li>
        <li class="active">Lista de Eventos</li>
{% endblock %}
{% block contenido %}

      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-visible">
            <div class="panel-heading">
              <div class="panel-title"> <i class="fa fa-table"></i>Lista de Eventos</div>
            </div>
            <div class="panel-body">
              <table class="table table-striped table-bordered" id="datatable">
                <thead>
                  <tr>
                    <th>Titulo</th>
                    <th class="hidden-xs">Autor</th>
                    <th>Fecha</th>
                    <th class="visible-lg">Horario</th>
                    <th class="hidden-xs hidden-sm">Categoria</th>
                    <th class="text-center hidden-xs">Accion</th>
                  </tr>
                </thead>
                <tbody>
                {% for i in object_list %}
                  <tr>
                    <td><span class="xedit">{{ i.titulo }}</span></td>
                    <td class="hidden-xs"><span class="xedit">{{ i.autor }}</span></td>
                    <td class="hidden-xs hidden-sm"><span class="xedit">{{ i.Fecha }}</span></td>
                    <td class="visible-lg">{{ i.HoraInicio }}/{{ i.HoraFin }}</td>
                    <td>{{ i.categoria.nombre }}</td>
                    <td class="hidden-xs text-center"><div class="btn-group">
                    <button onclick="document.location='/eventos/ver/?id-evento={{ i.id }}';" type="button" class="btn btn-info btn-gradient"><span class="glyphicons glyphicons-search"></span> </button>
                    </td>
                  </tr>
                 {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

{% endblock %}
