{% extends "base.html" %}
{% block title %} Crear Evento {% endblock %}
{% block bread %}
        <li><a href="/inicio/"><i class="fa fa-home"></i></a></li>
        <li class="active">Crear evento</li>
{% endblock %}
{% block contenido %}

       {% for i in object_list %}
      <div class="row">
       
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-12">
              <div class="panel">
                <div class="panel-heading">
                  <div class="panel-title"> <i class="fa fa-pencil"></i>Titulo: {{ i.titulo }} </div>
                </div>
                <div class="panel-body">
                <b>Autor:</b>{{i.autor}} </br></br>
                <b>Categoria del evento:</b> {{i.categoria.nombre }} </br></br>
                <b>Patrocinadores:</b> {{ i.patrocinadores }}</br></br>
                <b>Fecha:</b>{{i.Fecha}} </br></br>
                <b>Desde las </b>{{i.HoraInicio}} <b>Hasta las</b> {{ i.HoraFin }} </br></br>
                <b>Donde? :</b> {{i.direccion}} </br></br>
                <b>Informacion:</b></br>
                {{ i.informacion|safe }}</br></br>
                </div>
              </div>
            </div>
        </div>

      </div>

       {% endfor %}


{% endblock %}
